@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    background-color: white;
}

.profile-container {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    margin-bottom: -90px;
}

.logo {
    margin-top: 20px;
    width: 120px;
    height: 120px; /* Añadido para hacer que el logo sea un círculo perfecto */
    overflow: hidden;
    border-radius: 50%; /* Esto convierte el contenedor en un círculo */
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el área del círculo sin distorsionarse */
}

.username {
    font-size: 30px;
    font-weight: 700;
    color: #4F378B;;
    
    margin-bottom: 10px; /* Eliminamos el espacio inferior */
}

.buttons-container {
    display: flex;
    gap: 10px;
}

.perfil-button {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #F3F0FF;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #6E6E6E;
    transition: all 0.3s ease;
}

.perfil-button:hover, .button.active {
    background-color: #E5DBFF;
    color: #4F378B;
}

.perfil-button:focus {
    outline: none;
}

.text-display {
    margin-bottom: -90px;
    margin-top: 10px; /* Espacio entre los botones y el texto */
    font-size: 2.9rem; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
    color: #000000; /* Color similar al tema */
    text-align: center; /* Centrar el texto */
    transition: opacity 0.3s ease-in-out; /* Suavizar la aparición del texto */
}

/* Animación para cuando cambia el texto */
.text-display.fade-in {
    opacity: 1;
}

.text-display.hidden {
    opacity: 0;
}
